.location {
  margin: 0rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location p {
  margin: 5px;
}

.img img {
  width: 1000px;
  height: 90%;
  user-select: none;
  color: #adff2f;
}

.text-input-header {
  /* border: 1px solid #674328; */
  width: 100%;
  position: relative;
}

.text-location {
  display: flex;
  /* border: 1px solid #674328; */
  justify-content: space-around;
  margin-bottom: 1rem;
}

h1 {
  font-family: "Macondo", cursive, "Roboto", sans-serif;
  font-size: 10vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: absolute;
  top: -10rem;
  left: 20%;
}

input {
  height: 3rem;
  width: 80%;
  background-color: #674328;
  border: none;
  text-align: center;
  font-size: 20px;
  outline: none;
}

button {
  height: 3rem;
  width: 4rem;
  border: 1px solid #674328;
  background-color: #2d1706;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

span {
  font-weight: bold;
}

.location p {
  font-size: 20px;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #fff;
  color: #2d1706;
}

input:hover {
  background-color: #fff;
  color: #2d1706;
}

.swiper-slide {
  user-select: none;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-button-next:hover,
.swiper-button-prev :hover {
  color: greenyellow;
}

.swiper {
  width: 100%;
  background-color: #674328;
  /* background-image: url(../assets/images/rick-and-morty-firewatch-wallpaper.jpg); */
}
